header{
    background-color: rgb(77, 43, 20);
    text-align: center;
    margin-bottom: 30px;
}

header>h1{
    font-size: 30px;
    padding-top: 20px;
    color: goldenrod;
    text-shadow: 0px 0px 0px rgb(97, 97, 97);
}

nav{
    margin-top: 20px;
}

header>nav>ul{
    display: flex;
    text-shadow: 0px 0px 0px rgb(97, 97, 97);
    margin-left: -20px;
}

header>nav>ul>li{
    list-style-type: none;
}

header>nav>ul>li>a{
    text-decoration: none;
    color: aliceblue;
    list-style-type: none;
    margin: 7px;
}

div>img{
    height: 230px;
}

div>button{
    margin-top: -50px;
    height: 350px;
    color: aliceblue;
}